.c3-donut-chart,
.c3-pie-chart {
  display: inline-block;
  height: 250px;
  width: 250px;
}

.status-graphs {
  text-align: center;
}

.status-graphs-details {
  display: inline-block;
  text-align: left;
  h5 {
    font-size: 1.2em !important;
    font-weight: bold;
  }
  p {
    font-size: 2.4em !important;
    margin-bottom: 30px !important;
  }
}