.mdl-layout__header {
    background: $dark-green;
    min-height: 84px;
}

.mdl-layout__header-row {
    .mdl-navigation__link {
        font-size: 14px;
        line-height: 34px;
        &:hover,
        &:active {
            color: $light-green;
        }
    }
    .mdl-navigation {
        margin-top: 60px;
    }
}

.mdl-layout-title {
    font-size: 24px;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

header nav .mdl-navigation__link {
    border: 1px solid $dark-green;
    color: $white;
    margin-right: 2px;
}

header nav .mdl-navigation__link.active {
    border: 1px solid $light-green;
    color: $light-green;
    margin-right: 2px;
}

header nav .mdl-navigation__link:hover,
header nav .mdl-navigation__link:active {
    border: 1px solid $olive-green;
    color: $olive-green;
    margin-right: 2px;
}

.user-account {
    list-style-type: none;
    position: absolute;
    top: -10px;
    right: 55px;
    z-index: 10;
    li {
        display: inline-block;
        color: $light-green;
        margin-left: 24px;
    }
    .mdl-button--colored {
        color: $light-green;
    }
}

.mdl-layout__drawer > .mdl-layout-title {
    line-height: 1.5;
    padding-left: 40px;
    margin-top: 20px;
}
