// Buttons
.mdl-button--raised.mdl-button--colored {
    background: $green;
    color: $white;
    &:hover {
        background: $olive-green;
    }
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 280px;
    margin: 30px auto;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('/img/survey-img.png') bottom right 15% no-repeat #46B6AC;
}

.journey {
    margin: 0 auto;
    width: 175px;
}

.mdl-grid {
    button {
        margin: 0 auto;
    }
}

.mdl-grid .mdl-card .mdl-card__supporting-text {
    margin: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}

// 2 Card Group
.card-group-2up {
    padding: 0 40px 40px;
    margin: 0 auto;
    align-items: center;
    .tps-card-square {
        display: table-row;
    }
    .tps-card-wide,
    .tps-card-square,
    .tps-card-auto {
        display: inline-block;
        text-align: left;
    }
    .tps-card-auto.mdl-card {
        margin-right: 40px;
    }
    .mdl-card__title-text {
        font-size: 28px;
    }
}

// Wide Card
.tps-card-wide.mdl-card {
    width: 512px;
}

// Square Card
.tps-card-square.mdl-card {
    width: 320px;
    min-height: 360px;
}

.tps-card-square > .mdl-card__title,
.tps-card-auto > .mdl-card__title,
.green-title {
    color: $dark-green;
    background: $light-green;
}

.mdl-card__supporting-text p {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.page-content .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: rgb(16, 73, 24);
}

.debt-type select {
    margin-top: 8px;
    margin-left: 2px;
}

.page-content a {
    color: $dark-green;
}