
{{#if isIntroDone}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Please tell us about yourself</h2>
  </div>
  <div class="mdl-card__supporting-text">
  	{{user-details}}
  </div>
</div>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Where are you now?</h2>
  </div>
  <div class="mdl-card__supporting-text">
		<form action="#">
			{{mdl-radio value="HIGHSCHOOL" text='High School' name='stageInLife' checked=isHighSchoolChecked action="highSchoolSelected"}}
			{{#mdl-radio name='stageInLife' value="COLLEGE" checked=isCollegeChecked action='collegeSelected'}}
			  College
			{{/mdl-radio}}
			{{#mdl-radio name='stageInLife' value="CAREER" checked=isCareerChecked action='careerSelected'}}
			  Career
			{{/mdl-radio}}
		</form>
  </div>
</div>

	<br/>

	{{#mdl-button isColored=true isRaised=true action='surveyDoneAction'}}Let's Go!{{/mdl-button}}
{{/if}}
