<div class="mdl-grid demo-content">
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="green-title mdl-card__title">
        <h4 class="mdl-card__title-text">Connect with an Investment Advisor</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Once you're finished with your Personal Financial outlook, we will send your profile to one of our trusted advisors in order to get you on your way to financial freedom.</span>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button">
      Chat
    </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What are stocks?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Some copy on stocks.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Learn More
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What are bonds?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Some copy on bonds.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Learn More
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What are other ways to invest my money?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Call Steve and Tim!</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Read Article
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
  </div>
  <section class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  </section>
</div>
