<div class="mdl-grid demo-content">
  <div class="android-card-container mdl-grid">
    {{chat-comp}} 
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What are stocks?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Some copy on stocks.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Learn More
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What are bonds?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Some copy on bonds.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Learn More
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">What is 401(k)?</h4>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">How to take full advantage of employer matching contributions.</span>
      </div>
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button">
                   Read Article
                   <i class="material-icons">chevron_right</i>
                 </a>
      </div>
    </div>
  </div>
  <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid--no-spacing mdl-grid">
        <h4 class="mdl-cell--12-col">High School, College and Your Career Path</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>High School</h5> We offer a free, interactive, Internet-based tool that educates students to make informed financial decisions on a variety of personal finance issues, including income, spending, credit, saving and investing. <a href="#">Check it out</a>.
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>College</h5> Personal finance management working through your college years is alot easier than you may think and can open up a whole new way to prepare for your future. <a href="#">The next step is now</a>.
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Your Career Path</h5> What does money represent and how does it affect your everyday life energy - maybe it's time to readjust your priorities slightly. <a href="#">Take charge of your life</a>.
        </div>
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button">Read our features</a>
      </div>
    </div>
  </section>
  <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid--no-spacing mdl-grid">
        <h4 class="mdl-cell--12-col">Personal Income</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Checking Account</h5> We believe customer interactions are based on relationships, not transactions - and our checking confirms our commitment to you and the community. <a href="https://www.firstnational.com/site/personal/banking/checking-accounts/first-checking.fhtml">See our checking plans</a>.
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Savings Account</h5> Our savings plans come with the perfect financial combination - competitive interest rates and easy access to your funds. <a href="https://www.firstnational.com/site/personal/banking/savings-accounts/">See our savings plans</a>.
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"><i class="trending material-icons md-48">trending_up</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Investment Accounts</h5> We can help you make the best decisions towards reaching your investment goals. <a href="https://www.firstnational.com/site/personal/wealth-investing/">Life planning solutions</a>.
        </div>
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button">Link to FNB Product</a>
      </div>
    </div>
  </section>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <i class="material-icons">play_circle_filled</i>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>What Are Investments?</h4> It's actually pretty simple: investing means putting your money to work for you. Making your money work for you maximizes your earning potential whether or not you receive a raise, decide to work overtime or look for a higher-paying job.
      </div>
      <div class="mdl-card__actions">
        <a href="#" class="mdl-button">Read our features</a>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">more_vert</i>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(23px, 14px);"></span></span>
    </button>
    <div class="mdl-menu__container is-upgraded" style="right: 8px; top: 40px; width: 124px; height: 160px;">
      <div class="mdl-menu__outline mdl-menu--bottom-right" style="width: 124px; height: 160px;"></div>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1" data-upgraded=",MaterialMenu" style="clip: rect(0px 124px 0px 124px);">
        <li class="mdl-menu__item" tabindex="-1">Roth IRA</li>
        <li class="mdl-menu__item" tabindex="-1">Stocks</li>
        <li class="mdl-menu__item" tabindex="-1">Bonds</li>
        <li class="mdl-menu__item" tabindex="-1">Alternatives</li>
      </ul>
    </div>
  </section>
</div>
