{{#unless isIntroDone}}
  {{#mdl-card
    class="mdl-card mdl-cell mdl-cell--12-col"
    title="Tell us about yourself"
  }}
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <i class="material-icons">play_circle_filled</i>
    </header>

    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <p>
          Please take a short question survey in order to get started.
        </p>
        <p>
          We need details to help guide you towards your future goals.
        </p>
      </div>
    </div>
    {{#mdl-card-actions}}
      {{#mdl-button
        action='takeTheSurveyAction'
        isColored=true
        isRaised=true
      }}
        Begin your Journey
      {{/mdl-button}}
    {{/mdl-card-actions}}
  {{/mdl-card}}
{{/unless}}