**if survey taken boolean here or above**

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Tell us about yourself</h2>
  </div>
  <div class="mdl-card__supporting-text">
		Please take a short question survey in order to get started
		<br/>
		We need details to help guide you towards your future goals
  </div>
</div>

<br/>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Take the Survey</button>