<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp"> 
	<div class="green-title mdl-card__title">
	 <h4 class="mdl-card__title-text">Connect with an Investment Advisor</h4>
	</div>
	<div class="mdl-card__supporting-text">
	  <span class="mdl-typography--font-light mdl-typography--subhead">Once you're finished with your Personal Financial outlook, we will send your profile to one of our trusted advisors in order to get you on your way to financial freedom.</span>
	</div>
	<div class="mdl-card__actions mdl-card--border">
	  <a class="mdl-button mdl-js-button">
		  Chat
		</a>
	</div>
</div>