<div class="mdl-grid demo-content">
  <section class="section--center mdl-grid--no-spacing mdl-grid mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid--no-spacing mdl-grid">
        <h4 class="mdl-cell--12-col">Investment Timeline</h4>
        <div class="status-graphs section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          {{time-chart data=investments}}
        </div>
      </div>
    </div>
  </section>
</div>